USE [master]
GO
/****** Object:  Database [MedinaGascon_Heidi_Alquiler]    Script Date: 16/01/2026 1:02:49 ******/
CREATE DATABASE [MedinaGascon_Heidi_Alquiler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedinaGascon_Heidi_Alquiler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedinaGascon_Heidi_Alquiler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedinaGascon_Heidi_Alquiler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedinaGascon_Heidi_Alquiler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedinaGascon_Heidi_Alquiler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedinaGascon_Heidi_Alquiler]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 16/01/2026 1:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] NOT NULL,
	[NombreCliente] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Edad] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClienteCoche]    Script Date: 16/01/2026 1:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteCoche](
	[ClienteCocheID] [int] NOT NULL,
	[ClienteID] [int] NOT NULL,
	[CocheID] [int] NOT NULL,
	[Dias] [int] NOT NULL,
	[Kms] [float] NULL,
 CONSTRAINT [PK_ClienteCoche] PRIMARY KEY CLUSTERED 
(
	[ClienteCocheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coche]    Script Date: 16/01/2026 1:02:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coche](
	[CocheID] [int] NOT NULL,
	[Matricula] [nchar](7) NOT NULL,
	[Color] [varchar](20) NOT NULL,
	[AnioMatriculacion] [int] NOT NULL,
 CONSTRAINT [PK_Coche] PRIMARY KEY CLUSTERED 
(
	[CocheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([ClienteID], [NombreCliente], [FechaNacimiento], [Edad]) VALUES (11, N'Fernando Alonso', NULL, 50)
GO
INSERT [dbo].[Coche] ([CocheID], [Matricula], [Color], [AnioMatriculacion]) VALUES (10, N'5D6E7F8', N'Rosa', 2018)
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Edad]  DEFAULT ((18)) FOR [Edad]
GO
ALTER TABLE [dbo].[ClienteCoche]  WITH CHECK ADD  CONSTRAINT [FK_ClienteCoche_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClienteCoche] CHECK CONSTRAINT [FK_ClienteCoche_Cliente]
GO
ALTER TABLE [dbo].[ClienteCoche]  WITH CHECK ADD  CONSTRAINT [FK_ClienteCoche_Coche] FOREIGN KEY([CocheID])
REFERENCES [dbo].[Coche] ([CocheID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClienteCoche] CHECK CONSTRAINT [FK_ClienteCoche_Coche]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_ClienteID] CHECK  (([ClienteID]>(0)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_ClienteID]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_Edad] CHECK  (([Edad]>(0)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_Edad]
GO
ALTER TABLE [dbo].[ClienteCoche]  WITH CHECK ADD  CONSTRAINT [CK_ClienteCoche_ClienteCocheID] CHECK  (([ClienteCocheID]>(0)))
GO
ALTER TABLE [dbo].[ClienteCoche] CHECK CONSTRAINT [CK_ClienteCoche_ClienteCocheID]
GO
ALTER TABLE [dbo].[ClienteCoche]  WITH CHECK ADD  CONSTRAINT [CK_ClienteCoche_Dias] CHECK  (([Dias]>(0)))
GO
ALTER TABLE [dbo].[ClienteCoche] CHECK CONSTRAINT [CK_ClienteCoche_Dias]
GO
ALTER TABLE [dbo].[ClienteCoche]  WITH CHECK ADD  CONSTRAINT [CK_ClienteCoche_Kms] CHECK  (([Kms]>(0)))
GO
ALTER TABLE [dbo].[ClienteCoche] CHECK CONSTRAINT [CK_ClienteCoche_Kms]
GO
ALTER TABLE [dbo].[Coche]  WITH CHECK ADD  CONSTRAINT [CK_Coche_AnioMatriculacion] CHECK  (([AnioMatriculacion]>(0)))
GO
ALTER TABLE [dbo].[Coche] CHECK CONSTRAINT [CK_Coche_AnioMatriculacion]
GO
ALTER TABLE [dbo].[Coche]  WITH CHECK ADD  CONSTRAINT [CK_Coche_CocheID] CHECK  (([CocheID]>(0)))
GO
ALTER TABLE [dbo].[Coche] CHECK CONSTRAINT [CK_Coche_CocheID]
GO
ALTER TABLE [dbo].[Coche]  WITH CHECK ADD  CONSTRAINT [CK_Coche_Color] CHECK  (([Color]='Rosa' OR [Color]='Negro' OR [Color]='Blanco' OR [Color]='Gris' OR [Color]='Verde' OR [Color]='Azul' OR [Color]='Rojo'))
GO
ALTER TABLE [dbo].[Coche] CHECK CONSTRAINT [CK_Coche_Color]
GO
ALTER TABLE [dbo].[Coche]  WITH CHECK ADD  CONSTRAINT [CK_Coche_Matricula] CHECK  (([Matricula] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[Coche] CHECK CONSTRAINT [CK_Coche_Matricula]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cliente', @level2type=N'CONSTRAINT',@level2name=N'CK_Cliente_ClienteID'
GO
USE [master]
GO
